.DS_Store
.venv
methods.ipynb
wendnesday_exercise.ipynb
prova_py.ipynb
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/ 
.vscode/
*.sublime-project
*.sublime-workspace
*.log
*.sqlite3
*.db
*.bak
*.backup
*.swp
*.swo
*.tmp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
